<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Orifurniture</title>
 <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    as="style" />
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />

  <link rel="icon" type="image/png" href="favicon.ico" />
  <!-- Meta description -->
  <meta name="description"
    content="Bienvenu sur la boutique Orifurniture de l'entreprise Orinoco spécialisée dans la vente en ligne des meubles en chêne. Découvrez nos meubles vintages : Table, chaisses..." />
  <meta name="keywords"
    content="meuble vintage, meuble design, tables en bois, chêne, vernis, bois, chaise en bois, meuble tv" />

  <!-- Meta open graph -->
  <meta property="og: title" content="Meuble design vintage et mobilier pas cher-Orifurniture" />
  <meta property="og: type" content="website" />
  <meta property="og: url" content="" />
  <meta property="og: image" content="logo.webp" />
  <meta property="og: description"
    content="Bienvenu sur la boutique Orifurniture de l'entreprise Orinoco spécialisée dans la vente en ligne des meubles en chêne. Découvrez nos meubles vintages : Table, chaisses..." />
  <meta name="Copyright" content="Orifurniture" />
  <meta name="author" content="Mbey_Koumatey-Orifurniture web developer" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" href="../public/style.css" />
  
</head>


<body>
    
    <header class="nav">

         <a href="public/index.html">
         <img src="../logo.webp" alt=" logo du site Orifurniture"/>
         </a>
     </header>
    <main>
    </main>

    <footer>
        <section class="footer-container">
            <h2>Suivez-nous sur les réseaux</h2>
            <div class="footer-container_reseaux">

                <a href="https://www.facebook.com/"><i class="fa fa-facebook icon-md"></i>
                    <p>Facebook </p>
                </a>

                <a href="https://twitter.com/"> <i class="fa fa-twitter icon-md"></i>
                    <p>Twitter</p>
                </a>


                <a href="https://www.instagram.com"><i class="fa fa-instagram icon-md"></i>
                    <p>Instagram</p>
                </a>

            </div>

        </section>

        <div class="row">
            <section class="col-md-4">
                <h2 class="title_footer"> A propos de Orifurniture</h2>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" rel="nofollow">
                            Qui sommes nous et nos engagements
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Moyens de paiement" rel="nofollow">
                            Moyens de paiement
                        </a>
                    </li>

                    <li>
                        <a href="#" title="Choix du transporteur" rel="nofollow">
                            Livraison-Transport
                        </a>
                    </li>

                    <li>

                        <a href="#" title="Conditions générales de Vente" rel="nofollow">
                            Conditions générales de Vente
                        </a>
                    </li>
                    <li>
                        <a href="#" rel="nofollow">
                            Carte de fidelite et parrainage
                        </a>
                    </li>
                    <li>
                        <a href="#" title="recrutement" rel="nofollow">
                            Rejoignez-nous
                        </a>
                    </li>

                </ul>
            </section>

            <section class="assistance">
                <h3>Assistance</h3>
                <ul>
                    <li><a href="#" title="Centre d'aide">Centre d'aide</a></li>
                    <li><a href="#" title="contactez-nous">Contactez-nous</a></li>
                </ul>
            </section>


            <section class="container">
                <h4 class="m-orifurnitureCookie-content col-md-12" style="text-align: center;">
                    En utilisant ce site, vous acceptez notre utilisation des <a href="#" target="_blank">cookies</a>
                    afin
                    d'améliorer votre expérience de navigation
                    <button>OK</button>
                </h4>
            </section>


    </footer>
    <script src="js/index.js"></script>
</body>

</html>