<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mobiliers|Orinoco</title>
    <meta name="author" content="Mbey_Koumatey-oriwood web developer" />
    <link rel="stylesheet" href="../style.min.css" />
  </head>

  <body>
    <header class="nav">
      <a href="../view/basket.html">
        <i class="fa fa-arrow-left fa-2x"></i>
      </a>
      <a href="../view/basket.html">
        <img src="../logo.webp" id="logo" alt="logo de l'entreprise" />
        <h1>
          Orifurniture, <br />n°1 de vente en ligne des mobiliers en chêne!
        </h1>
      </a>
    </header>

    <main class="container">
      <section class="card-header">
        <h2 class="font-weight-bold text-center">Merci pour votre commande!</h2>

        <article id="buy-articles">
          Confirmation de votre commande <br /><b>#</b>
        </article>

        <p class="confirm_price">
          Nous vous remercions pour votre achat d'un montant total de :
          <span id="priceOrder"></span><b>,00 €</b>
        </p>

        <span class="font-weight-light Date heure">
          Commande effectuée le : <span> jour/mois/année</span>
        </span>
      </section>

      <h3 id="btn-liste ">
        <a href="../index.html"> Retour à la liste</a>
      </h3>
    </main>
    <!--Footer-->

    <footer id="footer_order">
      <div>
        <p>
          <i class="far fa-copyright"></i>2021 - Tous droits réservés - Groupe
          Orinoco
        </p>
      </div>
    </footer>

    <script src="https://kit.fontawesome.com/cf88953d74.js"></script>

    <script src="../js/order.js"></script>
  </body>
</html>
