<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mobiliers|Orinoco</title>
    <meta name="author" content="Mbey_Koumatey-oriwood web developer" />
    <link rel="stylesheet" href="../style.min.css" />
  </head>

  <body>
    <header class="nav">
      <a href="../view/basket.html">
        <img src="../logo.webp" id="logo" alt="logo de l'entreprise" />
      </a>
    </header>

    <main>
      <section id="confirmation">
        <h2>Confirmation de votre commande</h2>

        <p id="orderId"></p>
        <p class="textConfirm">
          Si vous souhaitez diversifier votre panier, n'hésitez pas à consulter
          nos autres sites spécialisés :

          <a href="#"><span>Oribook</span></a> pour Oricam pour les cameras
          <a href="#"><span>Oribook</span></a> pour les livres et
          <a href="#"><span>Oritextil</span></a>

          pour les vêtements !
        </p>
      </section>
    </main>
    <!--Footer-->

    <footer id="footer_order">
      <div>
        <p>
          <i class="far fa-copyright"></i>2021 - Tous droits réservés - Groupe
          Orinoco
        </p>
      </div>
    </footer>

    <script src="https://kit.fontawesome.com/cf88953d74.js"></script>

    <script src="../js/order.js"></script>
  </body>
</html>
