<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mobiliers|Orinoco</title>

    <meta name="author" content="Mbey_Koumatey-oriwood web developer" />

    <link rel="stylesheet" href="../style.min.css" />
  </head>

  <body>
    <header>
      <nav class="navbar">
        <a href="../index.html">
          <img src="../logo.webp" alt="logo de l'entreprise" />
        </a>

        <div class="basket-link">
          <a href="basket.html" id="basket">
            <i class="fas fa-shopping-basket fa-2x"></i>
            <p>Panier</p>
          </a>
        </div>
      </nav>
      <h1 class="buy">Meubles en chêne by Oriwood</h1>
    </header>
    <!--Produits-->
    <main id="product">
      <form id="formulaire-product">
        <h2 id="titre">nom</h2>
        <img id="image" alt="meuble en bois chêne" />

        <section>
          <h3 id="prix">Prix</h3>
          <h4 id="description">description</h4>

          <label for="varnish-select"> Vernis :</label>
          <select name="varnish" id="varnish-select" class="mb-2"></select>

          <label for="quantity">Quantité :</label>
          <select name="quantity" id="quantity-product" class="mb-3">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="3">5</option>
            <option value="4">6</option>
            <option value="3">7</option>
            <option value="4">8</option>
            <option value="3">9</option>
            <option value="4">10</option>
          </select>

          <button id="add-to-basket" type="submit" name="btn-envoyer">
            Ajouter au panier
          </button>
          <div id="confirmation-ajout"></div>
          <bouton id="look-basket">
            <a href="../view/basket.html">Voir le panier</a>
          </bouton>
          <bouton id="return-home">
            <a href="../index.html">Retour</a>
          </bouton>
        </section>
      </form>
    </main>

    <!--Footer-->

    <footer class="container-fluid footer">
      <h3 class="title_footer text-center">
        Suivez-nous sur les réseaux sociaux
      </h3>
      <section class="social">
        <div class="facebook">
          <a href="https://www.facebook.com/"
            ><i class="fab fa-facebook"></i>
            <p>Facebook</p>
          </a>
        </div>
        <div class="instagram">
          <a href="https://www.instagram.com"
            ><i class="fab fa-instagram"></i>
            <p>Instagram</p>
          </a>
        </div>

        <div class="twitter">
          <a href="https://twitter.com/">
            <i class="fab fa-twitter-square"></i>
            <p>Twitter</p>
          </a>
        </div>
      </section>
      <div class="footer_container">
        <section class="mention">
          <h3>A PROPOS</h3>
          <ul>
            <li><a href="#">Qui sommes nous et nos engagements </a></li>
            <li><a href="#">Conditions générales de ventes</a></li>
            <li><a href="#">Conditions générales d'utilisation</a></li>
            <li><a href="#">Mentions</a></li>
          </ul>
        </section>

        <section class="service">
          <h3>NOS SERVICES</h3>
          <ul>
            <li><a href="#">SAV</a></li>
            <li><a href="#"> Livraison-montage meubles</a></li>
            <li><a href="#">Carte de fidelite et parrainage </a></li>
            <li>
              <a href="#">Contactez-nous</a>
            </li>
            <li>
              <i class="fas fa-phone-square-alt">
                Besoin d'aide!

                <span class="navbar-title">Appelez au 02.00.00.00</span></i
              >
            </li>
          </ul>
        </section>

        <section class="orinoco">
          <h3>LE GROUPE ORINOCO</h3>
          <ul>
            <li>
              <a href="#"> Historique</a>
            </li>
            <li>
              <a href="#">Nous rejoindre!</a>
            </li>
          </ul>
        </section>
        <section class="filiales">
          <h3>Nos autres sites</h3>
          <ul>
            <li>
              <a href="#"><i class="fas fa-camera">Oricam</i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-books">Oribook</i></a>
            </li>
            <li>
              <a href=""><i class="fas fa-tshirt"></i>Oritextil</a>
            </li>
          </ul>
        </section>

        <section class="payment">
          <h3>PAIEMENTS</h3>
          <ul id="footer_paiement">
            <li><i class="fab fa-cc-paypal"></i></li>
            <li><i class="fab fa-cc-visa"></i></li>
            <li><i class="fab fa-cc-mastercard"></i></li>
          </ul>
        </section>

        <div class="container">
          <p class="oriwoodCookie" style="text-align: center">
            En utilisant ce site, vous acceptez notre utilisation des
            <a href="#">cookies</a> afin d'améliorer votre expérience de
            navigation
            <button>OK</button>
          </p>
        </div>
      </div>

      <div class="copyright" style="text-align: center">
        <p>Copyright © 2021 Oriwood by Orinoco - Tous droits réservés</p>
      </div>
    </footer>

    <script src="https://kit.fontawesome.com/cf88953d74.js"></script>

    <script src="../js/product.js"></script>
  </body>
</html>
