html {
  font-family: "Roboto", sans-serif;
}

body {
  min-width: 375px;
}

h1 {
  font-size: medium;
  margin: 0;
  padding: 0;
  font-family: "Pacifico", cursive;
  color: rgb(105, 10, 194);
}
nav a i {
  margin-right: 5px;
  font-size: small;
}
.articles {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  text-align: center;
  color: rgb(199, 7, 7);
  background-color: #fffff;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.title_alerte,
.alerte p {
  font-size: 15px;
  font-weight: 100;
  font-family: "Pacifico", cursive;
}
.header_nav {
  margin: 0;
  padding: 0;
  width: auto;
}

#bannière {
  display: flex;
  position: relative;
  height: 180px;
  margin-bottom: 50px;
  padding: 0 1rem;

  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -1000;
  border-bottom: 5px solid rgb(199, 7, 7);
  border-top: 3px solid rgb(199, 7, 7);
}

.products_container {
  margin: 10px 0 8px 0;
  padding: 4px 5px 5px 5px;
  width: 95%;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.products_container:hover {
  transform: scale(1.1);
}

.container_reseaux {
  display: flex;
  flex-direction: row;
}
article {
  width: 80%;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  transition: 200ms ease-out;
}
/*tablets*/

@media screen and (min-width: 768px) {
}

/*desktop*/

@media screen and (min-width: 992px) {
}
