body {
  font-size: small;
}
.products_container {
  margin: 0;
  padding: 0;
  width: 37%;
}
#banner {
  background-image: url(/images/oak_1.jpg);
  background-size: 280px 280px;
}
.product_single {
  width: 70px;
}
